<div class="container">
  <div class="columns is-vcentered is-touch">
    <div class="column has-text-centered-touch">
      <header>
        <h1 class="subtitle is-4">Melhor plataforma de crowdfunding. Crie seu projeto e apoie muitos outros :)</h1>
        <p class="subtitle">Seu projeto disponível para todos, consiga seu apoio e ajude outras pessoas a conseguirem também.<strong> Vem fazer parte da nossa comunidade.</strong></p>
      </header><br>
      <%= link_to "Apoiar Projetos", projects_path, class: 'button is-rounded is-warning is-uppercase is-small'%>
    </div>
  </div>
</div>

